<!DOCTYPE html>
<html lang="en">
<head>
 <title>TinyApp</title>
</head>
<body>

    <form method="POST" action="/register" >
      <label>EMAIL</label>
      <input type= "email" name = "email" placeholder = "email">
      <label>PASSWORD</label>
      <input type= "password"  name = "password" placeholder = "passsword">
      <input type="submit" value="submit">
    </form>

</body>
</html>