<!DOCTYPE html>
<html lang="en">
<head>
 <title>TinyApp</title>
</head>
<body>
<% include ./partials/_header %>
 <h2>URLS:</h2>

     <ul>
       <% Object.keys(urls).forEach(function(shortUrl) { %>
         <li><%= shortUrl %> : <%=urls[shortUrl]%>  <a href="/urls/<%=shortUrl%>"> EDIT</a>     </li>
          <form method="POST" action="/urls/<%= shortUrl %>/delete">
              <input type="submit" value="delete">
          </form>

       <% }); %>
     </ul>


</body>
</html>