<!DOCTYPE html>
<html lang="en">
<head>
 <title>TinyApp</title>
</head>
<body>
<% include ./partials/_header %>
 <h2>URLS:</h2>

     <ul>
       <% Object.keys(urls).forEach(function(shortURL) {     %>
         <li><%= shortURL %> : <%= urls[shortURL].longURL %>
         </li>

          <% if (user && user["id"] == urls[shortURL]["userID"]) { %>

          <a href="/urls/<%=shortURL%>"> EDIT</a>
          <form method="POST" action="/urls/<%= shortURL %>/delete">
              <input type="submit" value="delete">
          </form>

       <% }}); %>


     </ul>


</body>
</html>